@model ECommerceWebApp.Models.Domain.Category

@{
    ViewData["Title"] = "Edit";
}
<!--========== ALERT STARTS ==========-->
<div id="shopify-section-1550734361962" class="shopify-section">
    <div data-section-id="1550734361962" data-section-type="slide-v1" style=" ">
        <div class="container slider-home-classic">
            @if (TempData["errormsg"] != null)
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>Oh snap!</strong> @TempData["errormsg"]
                </div>
            }
        </div>
    </div>
</div>
<!--========== ALERT ENDS ==========-->
<div id="shopify-section-page-contactmap-template" class="shopify-section">
    <div class="contact_page">
        <div class="container e-contact  space_top_30">
            <div class="row flex-center">
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="info space_bot_50">
                            <h3 class="space_bot_20 text-center">Update Category</h3>
                        </div>
                        <div class="login-form">
                            <div class="form-group row ">
                                <div class=" col-sm-12 col-md-12 col-xs-12">
                                    <input asp-for="Name" class="col-sm-6 col-md-6 col-xs-12 form-control bdr" placeholder="Category" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-submit"> Save </button>
                                <a class="btn btn-submit" asp-action="Index" style="background: LightGray">Back to List</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
